<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs', {title: `${user.name} | WaveType`}) %>
<body class="nav-header">
  <%- include('../includes/header.ejs') %>

  <% 
    const edit_path = `/users/view/${user.slug}/edit`
    const delete_path = `/users/view/${user.slug}/delete`
  %>
  <main>
    <main-container-3 class="dark">
      <div class="mc3-item">
        <h1><%= user.name %></h1>
        <p>
          <strong>Score: <%= user.score %></strong>
        </p>
        
        <button class="btn_show" onclick="location.href=`<%= edit_path %>`">Edit</button>
        <button class="btn_show" onclick="location.href=`<%= delete_path %>`">Delete</button>
      </div>
      
    </main-container-3>
    
  </main>

  <%- include('../includes/footer.ejs') %>
</body>
</html>